<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Neurospirituality Lab</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=9f3738c3b02e0983f8d5f3b19c8cdd33">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css?h=4435c562c34b3ecc2ff0ffb49e182a7c">
    <link rel="stylesheet" href="assets/css/baguetteBox.min.css?h=cd0f778148efbd9a6da168a5fc542cea">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css?h=b1904b38fb5db9c70aa0a0b48e09a39c">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index.html" style="color: var(--bs-primary);">Neurospirituality Lab</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: var(--bs-primary);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="color: var(--bs-primary);"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active" href="/about-us.html" style="color: var(--bs-primary);">about</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p class="pe-0">Our team of scientists, clinicians, and scholars at the Neurospirituality Lab explores the complex relationship between the brain and spirituality, combining expertise in neuroscience, psychology, bioengineering, and theology to understand how spiritual experiences shape cognition, emotions, and well-being.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/Mengyuan_portfolio.jpg?h=f71b9fb4b7fb924e1d1a343982350edb">
                            <div class="card-body info">
                                <h4 class="card-title">Mengyuan Ding, MD, MSc, BM<br><strong>Neurologist | Emerging Clinical-Translational Researcher | Brain Imaging &amp; Neuromodulation Enthusiast</strong></h4>
                                <p class="card-text">Mengyuan Ding is a neurologist and clinical-translational researcher specializing in brain imaging and neuromodulation, working with Dr. Michael Ferguson and Dr. Michael Fox at the Neurospirituality Lab on projects integrating neuroscience, brain stimulation, and spirituality.</p>
                                <div class="icons"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/Headshot%202023.jpg?h=8b3084494665c95072b66e85038b77f3">
                            <div class="card-body info">
                                <h4 class="card-title">Kate Kaufman<br><strong>Undergraduate Research Assistant</strong></h4>
                                <p class="card-text">Kate is an undergraduate at Harvard College completing a double concentration in Neuroscience and Social Studies. Outside the lab, she enjoys writing for the Fifteen Minutes magazine and volunteering in mental health spaces on campus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/RJesani%20Headshot.jpg?h=9db8ec8a2238b2d33e78144cee63c2b0">
                            <div class="card-body info">
                                <h4 class="card-title">Rumaisa Jesani<br><strong>Undergraduate Research Assistant</strong></h4>
                                <p class="card-text">Rumaisa is a second-year at Harvard College studying Neuroscience. Outside of the Neurospirituality lab, Rumaisa is a pianist and avid reader.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/WhatsApp%20Image%202025-02-25%20at%208.28.13%20PM.jpeg?h=5d2c411a85b32d496fd488ea95f35460">
                            <div class="card-body info">
                                <h4 class="card-title">Azhmeer Jesani<br>Lab Web Developer</h4>
                                <p class="card-text">Azhmeer Jesani is a multifaceted innovator, blending his expertise in AI, quantum computing, and rocketry with a passion for photography, music, and language learning.</p>
                                <div class="icons"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- Start: Footer Dark -->
    <footer class="page-footer dark">
        <div class="container"></div>
        <div class="footer-copyright">
            <p>© 2025 The Neurospirituality Lab</p>
        </div>
    </footer><!-- End: Footer Dark -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/baguetteBox.min.js?h=add865daffd8b6e10264279f48d8ac50"></script>
    <script src="assets/js/vanilla-zoom.js?h=6a37ea9c996b05f763161c73127d66bc"></script>
    <script src="assets/js/theme.js?h=a083aeb15550c5e1266c666e8a5846d9"></script>
</body>

</html>